/* Nội dung cart */
.cart-container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-table th, .cart-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.cart-table th {
  background-color: #f0f0f0;
}

.cart-total {
  text-align: right;
  font-size: 18px;
}

/* nút xoá */
.cart-table button {
    padding: 8px 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    transition: background-color 0.2s ease;
}

.cart-table button:hover {
    background-color: #c82333;
}

/* nút thanh toán */
.cart-total button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cart-total button:hover {
  background-color: #696969;
}


/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    color: #808080;
}

/* Header */
header {
    padding: 20px 50px;
    height: 70px;
    position: relative;
    background-color: #F8F8FF;
    margin-bottom: 40px;
    overflow: hidden;
}

/* Logo */
.logo {
    float: left;
    width: 25%;
    font-weight: bolder;
}

.logo > p {
    margin-top: -5%;
    font-size: 50px;
    font-style: oblique;
}

/* Menu */
.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
}

.menu > li {
    padding: 0 12px;
    display: inline-block;
    margin-right: 24px;
}

.menu > li:last-child {
    margin-right: 0;
}

.menu > li > a:hover {
    color: #000000;
    border: none;
    border-bottom: 2px solid #000000;
} 

/* Others */
.others {
    float: right;
    width: 25%;
    text-align: right;
}

.others > li {
    display: inline-block;
    padding: 0 12px;
    border: none;
    border-right: 2px solid #000000;
}

.others > li:last-child {
    border-right: none;
}

.others > li:first-child {
    position: relative;
}

.others > li:first-child input {
    width: 100%;
    height: 125%;
    border: none;
    border-bottom: 1px solid #333;
    background-color: #F8F8FF;
}

.others > li:first-child i {
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-50%);
}

/* Footer */
footer {
    position: relative;
    background-color: #F8F8FF;
    padding: 40px 80px;
    overflow: hidden;
}

.footer-left {
    float: left;
    width: 70%;
    text-align: left;
}

.footer-left p {
    margin: 6px 0;
    line-height: 1.6;
}

.footer-right {
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-align: right;
}

.footer-right p, .footer-right h4 {
    margin: 0;
}

/*Thiết bị android*/
@media (max-width: 600px) {
    header {
        padding: 10px 20px;
        height: auto;
    }

    .logo {
        float: none;
        width: 100%;
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    .menu {
        position: static;
        width: 70%;
        text-align: center;
        margin-left: 50%;
    }

    .menu > li {
        display: inline-block;
        padding: 15px 0;
        margin-right: 15px;
    }

    .menu > li:last-child {
        margin-bottom: 0;
    }

    .others {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .others > li {
        padding: 0 8px;
    }
    
    .others > li:first-child input {
        width: 100%;
    }

    footer {
        padding: 20px 20px;
    }

    .footer-left {
        float: none;
        width: 100%;
        transform: translateX(0);
        text-align: center;
    }

    .footer-right {
        position: static;
        text-align: center;
        padding: 10px 0;
    }

    main {
        overflow-x: auto;
    }
}

/* Thiết bị tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 10px 5px;
        height: auto;
    }

    .menu {
        left: 45%;
    }

    .menu > li {
        display: inline-block;
        margin-right: 5px;
    }

    .others {
        float: none;
        width: 100%;
        margin-top: 10px;
    }

    .others > li:first-child input {
        width: 70%;
    }

    .footer-left {
        width: 50%;
        transform: translateX(40px);
    }

    .footer-right {
        float: right;
        position: static;
        padding: 0;
    }
}
